<h1>Candy Details</h1>

<div><h2><%= @candy.name%>
<div>Calories: <%= @candy.calories%>
<div>Wrapper: <%= @candy.wrapper_color%>
<div><%= @candy.has_nuts ?  "This Contains Nuts" : "No Nuts Here"%></h2><div>

